name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Eslint check
        run: yarn lint
      - name: Type check
        run: yarn tsc
  build:
    name: Building
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Build
        run: yarn build
