name: CI

on:
  push:
    branches: [develop,next]
    tags: ['**']
  pull_request:
    branches: [master,develop]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PACKAGES_TEMP_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v3.8.2
        with:
          node-version: 20
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Eslint check
        run: yarn lint

  test:
    name: Unit tests
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PACKAGES_TEMP_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v3.8.2
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Test
        run: yarn test
